
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}
*::selection{
  background-color: #000;
  color: #ffffff;
}

.App {
  text-align: center;
}


*{
-ms-overflow-style: none;
scrollbar-width: none;
}

*::-webkit-scrollbar {
display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&display=swap") 



